PUID=1000
PGID=1000
TZ=America/Toronto
SERVER_IP=192.168.1.x
PIHOLE_WEBPASSWORD=changeme

# Nextcloud
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=changeme
NEXTCLOUD_DB_PASSWORD=changeme
NEXTCLOUD_DB_ROOT_PASSWORD=changeme
